= turbo_frame_tag dom_id(island) do
  .rounded.border-2.border-gray-300.p-4.h-full
    .flex.justify-between.mb-5
      %p.font-bold=island.name
      .flex.items-center.gap-1
        - if island.region.icon.attached?
          = image_tag(url_for(island.region.icon), class: 'h-4 m-1 filter invert')

        = link_to new_island_trade_path(island), data: { "turbo-frame": "modal" }, class: "add-trade" do
          = image_tag('Docklands.png', class: 'h-4')

        = link_to new_island_local_produced_good_path(island), data: { "turbo-frame": "modal" }, class: 'add-island' do
          = render Icon::PlusComponent.new

        = link_to edit_game_island_path(island.game, island), class: 'edit-island' do
          = render Icon::PencilComponent.new

        = button_to [island.game, island], method: :delete, class: 'delete-island' do
          = render Icon::TrashComponent.new

    = turbo_frame_tag "available_goods_#{island.id}", class: "grid grid-cols-4 lg:grid-cols-3 gap-4 mb-4" do
      = render island.available_goods.joins(:good).merge(Good.i18n.order(name: :asc))
