= form_with(model: [island, local_produced_good], id: dom_id(local_produced_good)) do |form|
  - if local_produced_good.errors.any?
    .flex.flex-col
      %ul
        - local_produced_good.errors.each do |error|
          %li=error.full_message

  .flex.flex-col.pt-4
    = form.label :good, class: "mb-2 font-semibold text-gray-700"
    %div{'data-controller' => 'tom-select'}
      = form.collection_select :good_id, Good.i18n.order(:name).eager_load(:string_translations), :id, :name, include_blank: false

  %div.pt-4
    %p.text-2xl.font-bold
      Eingabewaren

  #input_goods.pt-4.pb-4
    = form.fields_for :input_goods do |task|
      = render 'input_goods/input_good_fields', f: task
    .pb-4
    = link_to_add_association 'Eingabeware hinzufügen', form, :input_goods, partial: 'input_goods/input_good_fields', class: 'bg-green-600 hover:bg-green-900 text-white font-bold p-2 rounded-sm', render_options: { locals: { island: @island } }

  .flex.flex-col.pt-4
    = form.label :production, class: "mb-2 font-semibold text-gray-700"
    = form.number_field :production, class: "bg-white border border-gray-200 rounded-sm shadow-xs", step: 0.01

  .flex.flex-col.pt-4
    = form.label :consumption, class: "mb-2 font-semibold text-gray-700"
    = form.number_field :consumption, class: "bg-white border border-gray-200 rounded-sm shadow-xs", step: 0.01

  %div.pt-4
    %p.text-2xl.font-bold
      Exporte

  #exports.pt-4.pb-4
    = form.fields_for :exports do |task|
      = render 'exports/export_field', f: task
    .pb-4
    = link_to_add_association 'Export hinzufügen', form, :exports, partial: 'exports/export_field', class: 'bg-green-600 hover:bg-green-900 text-white font-bold p-2 rounded-sm'

  = render ModalFooterComponent.new(path: game_path(@island.game)) do
    = form.submit "Speichern", class: "bg-green-600 hover:bg-green-900 text-white font-bold rounded-sm p-2"
