= turbo_frame_tag dom_id(available_good) do
  .flex.justify-center.items-center.flex-col
    = link_to [available_good.island, available_good], data: { "turbo-frame": "modal" } do
      = image_tag(url_for(available_good.good.icon), class: 'h-16')

    .pt-2.flex.items-center.flex-col.text-center
      - if available_good.island_import != 0.0
        %p="Import von anderen Inseln: #{available_good.island_import}"

      - if available_good.dockland_import != 0.0
        %p="Import von Speicherstadt: #{available_good.dockland_import}"

      - if available_good.production != 0.0
        %p="Produktion: #{available_good.production}"

      - if available_good.consumption != 0.0
        %p="Konsum: #{available_good.consumption}"

      - if available_good.local_usage != 0.0
        %p="Lokale Weiterverarbeitung: #{available_good.local_usage}"

      - if available_good.dockland_export != 0.0
        %p="Export zu Speicherstadt: #{available_good.dockland_export}"

      - if available_good.island_export != 0.0
        %p="Export zu anderen Inseln: #{available_good.island_export}"

      - if available_good.sparse != 0.0
        %p="#{available_good.sparse < 0.0 ? 'Mangel' : 'Überschuss'}: #{available_good.sparse}"
