.flex.flex-col.pt-4
  = f.label :quantity, class: "mb-2 font-semibold text-gray-700"
  = f.number_field :quantity, class: "bg-white border border-gray-200 rounded shadow-sm", step: 0.01

.flex.flex-col.pt-4.nested-fields
  = f.label :island_id, class: "font-semibold text-gray-700"
  %div{'data-controller' => 'tom-select'}
    = f.collection_select :island_id, @island.game.islands.where.not(id: @island.id).order(:name), :id, :name, include_blank: false
  = link_to_remove_association "Export entfernen", f
